$background-color:#f5f7f6;
$dark:#808080;
$light:#d9d9d9;
$left-menu-background-color:#e3e4e6;
$top-menu-background-color:#3f3f3f;

$button-height:30px;
$button-min-width:120px;

$text-size-01:14px;
$text-size-02:16px;
$text-size-03:18px;
$text-size-04:20px;
$text-size-05:22px;
$text-size-06:24px;