<div>
    <!--<img src="image/Checkbox.png" ng-show="$ctrl.activecheckbox checkbox checkbox           != $ctrl.checkbox" ng-click="$ctrl.changeImage()"/>-->
    <!--<img src="image/CheckboxR.png" ng-show="$ctrl.activecheckbox == $ctrl.checkbox"/>-->
    <div ng-show="$ctrl.activecheckbox != $ctrl.checkbox" ng-click="$ctrl.changeImage()">
        <img src="image/Checkbox.png"/>
    </div>
    <div ng-show="$ctrl.activecheckbox == $ctrl.checkbox" >
        <img src="image/CheckboxR.png"/>
    </div>
</div>